<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.css">


        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'OneADay/css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'OneADay/css/plugins/jquery.tagit.css' %}" />
        <script src="{% static 'OneADay/js/index.js' %}"></script>
        <script src="{% static 'OneADay/js/plugins/tag-it.js' %}"></script>

        <meta charset="UTF-8">
        <title>OneADay</title>
    </head>
    <body>
        {% csrf_token %}
        <div class="interests">
            <div class="interest-header">
                Interests:
            </div>
            <ul id="interest-tags">
                <!-- Existing list items will be pre-added to the tags -->
                {% for interest in interests %}
                    <li>{{ interest.keyword }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="logout-button">
            <form action="{% url 'web:logout' %}" method="GET">
                <button type="submit">Sign out</button>
            </form>
        </div>
    </body>
</html>