<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/scss" href="{% static 'OneADay/css/main.css' %}" />
        <script src="{% static 'OneADay/js/auth/register.js' %}"></script>

        <meta charset="UTF-8">
        <title>Signup for OneADay!</title>
    </head>
    <body>
        Interests:<br>
        {% for interest in interests %}
            {{ interest.keyword }}
        {% endfor %}

        <div class="logout-button">
            <form action="{% url 'web:logout' %}" method="GET">
                <button type="submit">Sign out</button>
            </form>
        </div>
    </body>
</html>