{% extends "master.html" %}

{% block includes %}
{% load staticfiles %}

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
<link rel="stylesheet" type="text/scss" href="{% static 'OneADay/css/main.css' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'OneADay/css/auth.css' %}" />
<script src="{% static 'OneADay/js/auth/register.js' %}"></script>
{% endblock %}

{% block title %}Signup for OneADay!{% endblock %}

{% block content %}
<div class="container">
    <form class="form-signin" id="register" action="{% url 'web:register' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading">Sign up for OneADay</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
        <input type="email" class="form-control" placeholder="Email" name="email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
        <input type="password" class="form-control" placeholder="Verify Password" name="passwordCheck" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <div class="login-footer">
            <div class="text-center">
                <a href="{% url 'web:login' %}">Already have an account? Login here.</a>
            </div>
            <div class="text-center error">
                {{ error }}
            </div>
        </div>
    </form>

</div>
{% endblock %}