<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One A Day</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Subscribers:</h2>
    <table style="width:100%">
        <tr>
            <th>SubscriberID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
        </tr>
        {% for row in subscribers %}
        <tr>
            <td>{{ row['SubscriberID'] }}</td>
            <td>{{ row['FirstName'] }}</td>
            <td>{{ row['LastName'] }}</td>
            <td>{{ row['Email'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>